:root {
    --main-color: #544f4f;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--main-color);
}
.header {
    margin-right: 50px;
    font-weight: 600;
    margin-left: 15px;
}
.hero {
    text-align: center;
}
h1 {
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 35px;
}
h4 {
margin-bottom: 80px;
}
.img-fluid {
    border: 2px solid var(--main-color);
    padding: 3px;
    border-radius: 5px;
}
.me {
    max-width: 500px;
}
.about {
    padding: 30px;
    font-size: 40px;
    margin-top: 65px;
    text-align: center;
    font-style: italic;
}
.info {
    padding: 50px;
    font-size: 20px;
}
footer {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        margin-top: 80px;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .about-me {
        text-align: center;
    }
    .me {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
    }
    .about {
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        margin: 10px 0;
    }
    .img-fluid {
        margin: 10px auto;
    }
    .info {
        padding: 20px;
    }
    footer {
        font-size: 12px;
        font-weight: bold;
    }
}