:root {
  --main-color: #544f4f;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--main-color);
}
.header {
  margin-right: 50px;
  font-weight: 600;
  margin-left: 15px;
  font-size: 24px;
}
.hero {
  text-align: center;
}
h1 {
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: 35px;
}
h4 {
  margin-bottom: 80px;
}
.img-fluid {
  border: 2px solid var(--main-color);
  padding: 3px;
  border-radius: 5px;
}
.me {
  max-width: 85%;
  margin: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about {
  padding: 30px;
  font-size: 40px;
  margin: 150px 0px;
  text-align: center;
  font-style: italic;
}
.info {
  padding: 50px;
  font-size: 20px;
}
.heading {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
.project {
  text-align: center;
  font-size: 18px;
  padding: 15px;
}

.button {
  background-color: var(--main-color);
  color: whitesmoke;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}
:hover.button {
  color: var(--main-color);
  background-color: whitesmoke;
  border: 2px solid var(--main-color);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
footer {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
}
.contact {
    margin: 15px;
}
.contact.name {
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    margin-top: 80px;
  }
  h4 {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .about-me {
    text-align: center;
  }
  .me {
    max-width: 95%;
  }
  .about {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
  }
  .img-fluid {
    margin: 10px auto;
  }
  .info {
    padding: 20px;
  }
  .heading {
    font-size: 24px;
  }
  .container-fluid {
    display: flex;
  }
  .hamilton {
    order: 0;
  }
  .hamilton-info {
    order: 1;
  }
  .weather {
    order: 2;
  }
  .weather-info {
    order: 3;
  }
  .responsive {
    order: 4;
  }
  .responsive-info {
    order: 5;
  }
  .button {
      padding: 8px;
      font-size: 15px;
  }
  footer {
    font-size: 11px;
    font-weight: bold;
  }

}
